<nav>
    <ul>
        <li>
            <a routerLink="/trainers">Les formateurs</a>
        </li>
        <li>            
            <a routerLink="/pizzas">Ma commande de pizzas</a>
        </li>
    </ul>
</nav>