.card {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
}

.card img {
    width: 100px;
}

.pink {
    background-color: lightcoral ;
}

.blue {
    background-color: lightskyblue;
}
