.card-container {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
}

