<h2>La liste des formateurs</h2>

<!-- Les directives -->
<!-- de structure -->
<!-- ngFor : Permet à partir d'une collection de créer du contenu répétable-->
<!-- ngIf : Permet d'afficher conditionnelllement du contenu -->
<!-- ngSwitch : Pareil mais pour des gros if else-->

<!-- de component -->
<!-- ngClass : Attribuer une classe en fonction d'un boolean -->
<!-- ngStyle : Attribuer du style in-line -->
<!-- ngModel : Pour lier un input à une propriété présente dans le TS-->
<h3>Le formateur du jour est {{ (trainerOfTheDay.length === 0) ? '[...En attente d\'un formateur...]' : trainerOfTheDay}}</h3>
<div class="card-container">
    <!-- trainers = notre tableau de formateurs -->
    <!-- trainer = chacun des formateurs -->
    <!--  exemple de ngStyle : [ngStyle]="{color: 'green'}" -->
    <!-- <div *ngFor="let trainer of trainers; let i = index">    
        
        <p>A l'index {{i}} dans le tableau</p>
    </div> -->
    <app-trainer-card *ngFor="let trainer of trainers" [trainer]="trainer" (onSelect)="setTrainerOfTheDay($event)">
        <div>Pouet pouet pouet</div>
    </app-trainer-card>
    
</div>

<div>
    <h3>Mini Démo Switch</h3>
    <div>
        <label for="">Entrez un jour de la semaine : </label>
        <input type="text" [(ngModel)]="weekDay">
        <div>On mange quoi ? </div>
        <div [ngSwitch]="weekDay.toLowerCase()">
            <div *ngSwitchCase=" 'lundi' ">Des patates</div>
            <div *ngSwitchCase=" 'mardi' ">Des patates</div>
            <div *ngSwitchCase=" 'mercredi' ">Des patates aussi</div>
            <div *ngSwitchCase=" 'jeudi' ">Une Pizza</div>
            <div *ngSwitchCase=" 'vendredi' ">Une soupe de bière</div>
            <div *ngSwitchCase=" 'samedi' ">Un burger</div>
            <div *ngSwitchCase=" 'dimanche' ">Une p'tite salade</div>
            <div *ngSwitchCase=" '' "></div>
            <div *ngSwitchDefault>Rentre un jour valide stp</div>
        </div>
    </div>
</div>



