<h2>Ma commande de pizzas :</h2>

<div>
    <div *ngFor="let pizza of pizzas">
        <img [src]="pizza.picture" [alt]=" 'photo d\'une pizza '+pizza.name ">
        <div>{{pizza.name}}</div>
        <!-- <div [ngStyle]="{'text-decoration' : 'line-through'}">{{pizza.price}}</div> -->
        <div [ngClass]="{dash : pizza.promo}">{{pizza.price | currency : 'EUR'}}</div>
        <div class="red" *ngIf="pizza.promo">{{pizza.lastPrice | currency : 'EUR'}}</div>
        <button>Supprimer</button>
    </div>
</div>