/* You can add global styles to this file, and also import other style files */
body, ul {
    margin : 0;
    padding: 0;
}

main {
    display: flex;
}

nav {
    min-height: 100vh;
    width: 15vw;
    background-color: lightgoldenrodyellow;
}

.main-content {
    min-height: 100vh;
    width: 85vw ;
}